@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
</div>
<div class=div_main_text style="position: relative;top: 140px;left: 40px;width: 500px;height: 200px;">
    <p>
        Thank you for visiting our site ..<br />
        please add an important 'ToDo' you do not want to forget ..<br />
        to do ..<br />
        to our <a asp-area="" asp-controller="Todos" asp-action="Index">TodoList App</a> ..
    </p>
</div>
