@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Privacy</h1>    
</div>
<div class=div_main_text style="position: relative;top: 140px;left: 40px;width: 500px;height: 200px;">
    <p>
        Any personal details you send to us are protected through GDPR.<br />
        <a asp-area="" asp-controller="Todos" asp-action="Index">TodoList App</a>
    </p>
</div>

